<div class="row">
<div class="col-sm-12">
	<table class="table">
	<tr>
		<th class="col-xs-2 text-center">ランキング</th>
		<th class="col-xs-3 text-center">行政区</th>
		<th class="col-xs-2 text-center">ポイント</th>
		<th class="col-xs-3 text-center">1位との差</th>
		<th class="col-xs-2 text-center"></th>
	</tr>
	<% cities.each_with_index do |city, i| %>
	<tr>
		<td class="text-center"><%= i+1 %></th>
		<td><%= city[0] %></th>
		<td class="text-center"><%= number_with_precision(city[1], precision: 1) %></th>
		<td>
			<div class="progress">
				<% percentage = city[1]/cities[0][1]*100 %>
        <div class="progress-bar" role="progressbar" 
        	aria-valuenow="<%= city[1] %>" 
        	aria-valuemin="0" 
        	aria-valuemax="<%= cities[0][1] %>" 
        	style="width: <%= percentage %>%;">
        	<%= number_with_precision(percentage, precision: 1) %>%
        </div>
      </div>
		</td>
		<td class="text-center"><%= link_to "詳しくみる", "", class: "btn btn-info" %></td>
	</tr>
	<% end %>
	</table>
</div>
</div>